atlassian-python-api==4.0.4
beautifulsoup4==4.13.4
black==25.1.0
cachetools==5.5.2
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.2.0
cobble==0.1.4
colorama==0.4.6
db-dtypes==1.4.3
Deprecated==1.2.18
dotenv==0.9.9
google-api-core==2.25.1
google-auth==2.40.3
google-auth-oauthlib==1.2.2
google-cloud-bigquery==3.34.0
google-cloud-core==2.4.3
google-cloud-storage==3.1.0
google-crc32c==1.7.1
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
grpcio==1.73.0
grpcio-status==1.73.0
html2docx==1.6.0
html2text==2025.4.15
idna==3.10
jmespath==1.0.1
lxml==5.4.0
mammoth==1.9.1
mypy_extensions==1.1.0
ndjson==0.3.1
numpy==2.3.0
oauthlib==3.2.2
packaging==25.0
pandas==2.3.0
pandas-gbq==0.29.1
pathspec==0.12.1
pillow==11.2.1
platformdirs==4.3.8
proto-plus==1.26.1
protobuf==6.31.1
pyarrow==20.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pydata-google-auth==1.9.1
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.1.0
pytz==2025.2
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9.1
setuptools==80.9.0
six==1.17.0
soupsieve==2.7
tinycss2==1.4.0
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
webencodings==0.5.1
wrapt==1.17.2
